<EditForm EditContext="@_editContext" >
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label class="form-label" for="street">Street</label>
        <InputText class="form-control" id="street" @bind-Value="_addressInfoInputModel.Street"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="streetNumber">Street Number</label>
        <InputText class="form-control" id="streetNumber" @bind-Value="_addressInfoInputModel.StreetNumber"/>
    </div>
    <div class="mb-3">
        <label class="form-label"  for="zipCode">ZIP Code</label>
        <InputText class="form-control" id="zipCode" @bind-Value="_addressInfoInputModel.ZipCode"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="city">City</label>
        <InputText class="form-control" id="city" @bind-Value="_addressInfoInputModel.City"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="province">Province</label>
        <InputText class="form-control" id="province" @bind-Value="_addressInfoInputModel.Province"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="country">Country</label>
        <InputText class="form-control" id="country" @bind-Value="_addressInfoInputModel.Country"/>
    </div>
</EditForm>

