@page "/"
@using BlazorWizard.Components


<Wizard OnWizardFinished="WizardFinished" Id="DemoWizard" 
        ShowNextButton="ShowNextButton" SubmitButton="Opslaan" TextNextButton="Volgende" TextPreviousButton="Terug" CssNextButton="btn btn-secondary" CssPreviousButton="btn btn-danger" ShowPills="true" ShowTitle="false">
    <WizardStep Title="User Entry">
        <UserEntry OnUserInfoEntered="UserInfoEntered" />
    </WizardStep>
    <WizardStep Title="Credentials">
        <CredentialsEntry OnCredentialsEntered="CredentialsEntered" /> 
    </WizardStep>
    <WizardStep Title="Address">
        <AddressEntry OnAddressInfoEntered="AddressInfoEntered"/>
    </WizardStep>
    <WizardStep Title="Final Step" ShowSubmitButton="true"  >
        <div class="row">
            <p>The final step has been reached. Thank you \o/</p>
        </div>
    </WizardStep>
</Wizard>


