@page "/"
@using BlazorWizard.Components

<Wizard Id="DemoWizard" ShowNextButton="ShowNextButton" >
    <WizardStep Name="User Entry">
        <UserEntry OnUserEntryEntered="OnUserEntryResult" />
    </WizardStep>
    <WizardStep Name="Credentials">
        <CredentialsEntry OnCredentialsEntered="OnCredentialsEntryResult" /> 
    </WizardStep>
    <WizardStep Name="Address">
        <AddressEntry/>
    </WizardStep>
    <WizardStep Name="Second Step">
        <div class="row">
            <p>Wow, you've reached the second step!</p>
        </div>
    </WizardStep>
    <WizardStep Name="Final Step">
        <div class="row">
            <p>The final step has been reached. Thank you \o/</p>
        </div>
    </WizardStep>
</Wizard>

@code {
    public bool ShowNextButton { get; set; }

    private void OnUserEntryResult(UserEntryResult result)
    {
        ShowNextButton = result.IsValidResult;
    }


    private void OnCredentialsEntryResult(CredentialEntryResult result)
    {
        ShowNextButton = result.IsValidResult;
    }

}