@page "/"
@using BlazorWizard.Components

<Wizard OnWizardFinished="WizardFinished" Id="DemoWizard" 
        ShowNextButton="ShowNextButton" SubmitButton="Opslaan" NextButton="Volgende" PreviousButton="Terug">
    <WizardStep Title="User Entry">
        <UserEntry OnUserInfoEntered="UserInfoEntered" />
    </WizardStep>
    <WizardStep Title="Credentials">
        <CredentialsEntry OnCredentialsEntered="CredentialsEntered" /> 
    </WizardStep>
    <WizardStep Title="Address">
        <AddressEntry OnAddressInfoEntered="AddressInfoEntered"/>
    </WizardStep>
    @* <WizardStep Title="Second Step"> *@
    @*     <div class="row"> *@
    @*         <p>Wow, you've reached the second step!</p> *@
    @*     </div> *@
    @* </WizardStep> *@
    @* <WizardStep Title="Final Step"> *@
    @*     <div class="row"> *@
    @*         <p>The final step has been reached. Thank you \o/</p> *@
    @*     </div> *@
    @* </WizardStep> *@
</Wizard>


