@page "/"
@using BlazorWizard.Components
@using BlazorWizard.Components.Wizard
@using BlazorWizard.Components.TabControl


<TabControl>
    <TabPage Text="Title of the first tab">
        <Wizard ShowNextButton="@ShowNextButton" >
            <WizardStep StepTitle="Initialization of car from database">
                <LoadCarsFromDatabase OnCarFromDatabaseLoaded="CarFromDatabaseLoaded"/>
            </WizardStep>
            <WizardStep StepTitle="User Entry">
                <UserEntry OnUserInfoEntered="UserInfoEntered" />
            </WizardStep>
            <WizardStep StepTitle="Credentials">
                <CredentialsEntry OnCredentialsEntered="CredentialsEntered"/>
            </WizardStep>
            <WizardStep StepTitle="Address">
                <AddressEntry OnAddressInfoEntered="AddressInfoEntered"/>
            </WizardStep>
            <WizardStep StepTitle="Final Step" ShowSubmitButton="true" TextSubmitButton="Back to Start" >
                <div class="row">
                    <p>The final step has been reached. Thank you \o/</p>
                </div>
            </WizardStep>
        </Wizard>
    </TabPage>
    <TabPage Text="Title of the second tab">

    </TabPage>
    <TabPage Text="Title of the third tab">

    </TabPage>
    <TabPage Text="Title of the fourth tab">

    </TabPage>
</TabControl>





